/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */

html {
  font-family: 'sansationregular';
}
/* ----- Custom Fonts ---------------- */



@font-face {
  font-family: 'sansationbold';
  src: url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-bold.eot');
  src: url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-bold.eot?#iefix') format('embedded-opentype'),
  url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-bold.woff') format('woff'),
  url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-bold.ttf') format('truetype'),
  url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-bold.svg#sansationbold') format('svg');
  font-weight: bold;
  font-style: normal;
font-variant: normal;
}

@font-face {
  font-family: 'sansationitalic';
  src: url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-italic.eot');
  src: url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-italic.eot?#iefix') format('embedded-opentype'),
       url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-italic.woff') format('woff'),
       url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-italic.ttf') format('truetype'),
       url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-italic.svg#sansationitalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-variant: normal;


                                                                                              
}
@font-face {
  font-family: 'sansationregular';
  src: url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-regular.eot');
  src: url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-regular.eot?#iefix') format('embedded-opentype'),
       url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-regular.woff') format('woff'),
       url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-regular.ttf') format('truetype'),
       url('/sites/members.meta.org.au/themes/openhub/fonts/sansation_web/sansation-regular.svg#sansationregular') format('svg');
       font-weight: normal;
       font-style: normal;
	font-variant: normal;

}

/* ----- Body ------------------------ */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #D7D4CD;
  background-image: url(../background.png);
  background-repeat: repeat;
  line-height: 20px;
}

/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */

/* HEADER ********************************* */
/* ----- Header Region --------------- */
/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
#iin-logo {
  padding: 10px;

}
/* ----- Site Title and Slogan ------- */

/* ----- Short term order for new hacks ------- */
.main .block {
    border: thin solid #DFDFDF;
    margin-bottom: 10px;
	box-shadow: 0px 0px 10px 1px rgba(223, 223, 223, 0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(223, 223, 223, 0.75);
	-webkit-box-shadow: 0px 0px 10px 1px rgba(223, 223, 223, 0.75);
  background-color: #fff;
}

.block .content {
	padding-left: 10px;
	padding-right:10px;
}

#block-views-slideshow-block .content {
	padding: 0px;
}

#block-block-8 .content {
	padding: 0px;
	margin-top: -8px;
}

#block-block-8 {
  background: none;
}


#block-views-slideshow-block {
  background-color: #F49200;
}

.iin-slideshow .views-field-nothing {
  padding: 0 10px;
  color: #fff;
  height: 80px
}

#page-title {
  color: #f49200;
  line-height:1;
}

h1 {
font-family: 'sansationregular';
font-size: 1.9em;
text-transform: uppercase;
line-height: 2.2;
}

h2 {
font-family: 'sansationregular';
font-size: 1.45em;
text-transform: uppercase;
line-height: 1.5;
}

h3 {
font-family: 'sansationregular';
font-size:1.2em;
line-height: 1.5;
}

h4 {
font-family: 'sansationbold';
font-size:1.4em;
line-height: 1.5;
}

h5 {
font-family: 'sansationregular';
font-size:1em;
line-height: 1.0;
}

.h5 {
font-family: 'sansationregular';
font-size:0.9em;
line-height: 1.0;
}


p {
font-family: Helvetica, Arial, sans-serif;;
font-weight: normal;
font-size: 0.875em;
line-height: 1.5;
}

.p {
font-family: Helvetica, Arial, sans-serif;;
font-weight: normal;
font-size: 0.875em;
color:#767676;
line-height: 1.5;
}

.p2 {
font-family: Helvetica, Arial, sans-serif;;
font-weight: normal;
font-size: 0.75em;
color:#767676;
line-height: 1.5;
}


.orange {
	color:#f49200;
}

.grey {
	color:#666666;
}

.divider {
	height: 2px;
	border-bottom:#D2D2D2 thin solid;
	margin-top:-10px;
	margin-bottom:10px;
}


.views-row {
    clear: both;
    margin-bottom: 1em;
padding-bottom: 10px;
	border-bottom:#DCDCDB thin solid;
}


/* ----- Join The Conversation --- */

.conversationtitlediv {
  	width:100%;
	height:60px;
	border-bottom:#e3e3e2 thin solid;
	font-family: 'sansationregular';
	font-size: 1.2em;
	text-transform: uppercase;
	color:#f49200;
	text-align:left;
	vertical-align: middle;
	line-height: 2.2;
}
/*.cicon {
	background-image: url(../images/conversationtitleicon.png); max-width:100%;  
	background-repeat: no-repeat;
	background-position: 0px -4px;
	height:62px;	
}*/

.discussionpreview {
	background-color: #F3F3F3;
    margin-left: -15px;
    padding: 10px 20px;
    width: 92%;
}
.discussioncomment {
	background-color: #ffffff;
    margin-left: -5px;
    padding: 10px 10px 10px 10px;
    width: 85%;
	margin-top: 10px;
}
.commentquote {
	margin-left: -5px;
}
.commentname {
	padding-right: 5px;
	margin-right: -5px;
}

/* ----- convo sidebar --- */

.commentbubble {
	background: url(../images/bubbletop.png) no-repeat top !important;
    height: 20px;
	width:20px;
	margin: -12px 0 -7px 30px;
	z-index:99;
	position:relative;
}

.bubble_border {
	border-radius:10px;
	border:#D0D0D0 thin solid;
	background: #f4f4f4;
	padding: 15px;
}

.top20 {
	margin-top: 20px;
}


/* ----- search bar hack --- */

.form-actions {
    background-color: transparent;
    border-top: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 19px 20px 20px;
}

#block-search-form .block {
	border: 0 !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

#block-search-form {
  height: 34px;
}

.nobordershadow {
	border: 0 !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.nobackground {
  background: none !important;
}

/* NAVIGATION ***************************** */
.iin-nav ul.nav {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.iin-nav ul.nav li  {
  
  background-image:url(../nav_arrow.png);
  background-repeat: no-repeat;
  background-position: 0 .4em;
  padding-left: 2.6em;
  font-size: 1.2em;
  padding-top:10px;
  padding-bottom: 10px;
  border-top-style: dotted;
  border-width: 1px;
  border-color: #DADAD9;

}
.iin-nav ul li a {
  color: gray;

}
.iin-nav ul.nav li a:active {
  color: #FFFFFF;
  background-color: orange;
}
.iin-nav ul.about {

  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.iin-nav ul.about li {


  background-image:url(../honeycomb_nav.png);
  background-repeat: no-repeat;
  background-position: 0 1em;
  padding-left: 2.6em;
  border-style: none; 
}
/* ----- Main Navigation ------------- */
/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */

.iin-profile-block {
  background-color: #FFF;
  padding: 10px 0;
}
#iin-profile-title {
 	background-color: #F49200;
    color: #FFFFFF;
    font-size: 1.3em;
    font-weight: normal;
    margin: -10px -10px 15px;
    padding:  5px 10px;
}
#iin-profile-welcome {
  display: inline;
  font-style:italic;
}
#iin-profile-name {
  display: inline;
}
#iin-profile-links {
  float: right;
}
#iin-profile-links ul.profile-block {
  list-style-type: none;
}
#iin-profile-picture {
  padding: 0px;
}

/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */

/* CONTENT ******************************** */

/* VIEWS ********************************** */
.iin-join-conversation-block {
    background-color: #FFFFFF;
}
.iin-join-conversation-block h2 {
	color: orange;
	text-align: center;
	width: 85%;
	border-bottom: #cccccc thin solid;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
}

.iin-feature {
  background-color: #FFF;
}
.iin-feature h2 {
  margin: 0px;
  background-color: #f49200;
  color: #FFF;
  font-size: 1.3em;
  padding: 5px 10px;
  font-weight: normal;
  margin-bottom: 15px;
}
.iin-sc-discussion {
  background-color: #FFF;
}
.iin-sc-discussion p {
  padding: 1em;
}
.iin-sc-discussion h2 {
  margin: 0px;
  background-color: orange;
  color: #FFF;
  text-align: center;
  font-size: 20px;
}
.iin-sc-resources {
  background-color: #FFF;
}
.iin-sc-resources p {
  padding: 1em;
}
.iin-sc-resources h2 {
  margin: 0px;
  background-color: orange;
  color: #FFF;
  text-align: center;
  font-size: 20px;
}
.iin-feature .views-field-field-organisation-image {
  float: left;
}
.iin-feature .view-organizations .views-field-title {
  padding: 30px;

}
.view-join-the-coversation .views-field {
  background-color: #FFF;
  padding: 0 20px 20px;
  margin-bottom: 20px;

}
.iin-feature .view-organizations ul{
  list-style-type: none;
}

/* Profile */
.iin-user-profile {
  background-color: #FFF;
  padding: 20px;
}
.iin-user-profile #user-picture {
  float:left;
  padding-top: 25px;
}
.profile2-profile {
  padding-left: 130px;
}
.profile2-profile .field {
  padding: 10px;
}
#profile h3 {
  display: none
}
#block-system-main {
  padding-top: 20px;
}

/*grids*/
.custom-grid li {
  margin: 0 !important;
  height: 250px !important;
  overflow: none;
}

.page-user.not-logged-in .title {
  background-image: url('http://metastage.holocene.cc/sites/members.meta.org.au/themes/openhub/meta-logo.png');
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 100px;
}

.comment span.new {
  display: none;
}

.page-node-207 #block-system-main, 
.front #block-system-main { 
  display: none;
}

#block-views-all-users-block {
  padding-top: 15px;
}

/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* ----- Print ----------------------- */
